.pnlRodape {
  background: linear-gradient(rgb(60, 60, 60), gray, rgb(230, 230, 230), gray, rgb(60, 60, 60));
  border: 2px groove gray;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 20px;
}